/.env
/vendor
/wordpress/*
!/wordpress/favicon.ico
!/wordpress/google*.html
!/wordpress/wp-content
# /wordpress/wp-content/*
# !/wordpress/wp-content/themes
# /wordpress/wp-content/themes/*
# !/wordpress/wp-content/themes/twentynineteen
# !/wordpress/wp-content/themes/dazzling
# !/wordpress/wp-content/languages
# !/wordpress/wp-content/plugins
# !/wordpress/wp-content/uploads
# !/wordpress/wp-admin
/db/data
/db/backup1213
# !/backup1213